<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Registration Form</title>
  <!---Custom CSS File--->
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="container">   
    <div class="registration form">
      <header>Signup</header>
      <form >
        <input type="text" placeholder="Enter your name" name="name">
        <input type="text" placeholder="Enter your surname" name="surname">
        <input type="number" placeholder="Enter your age" name="age">
        <input type="tel" placeholder="Enter your number" name="tel">
        <input type="email" placeholder="Enter your email" name="email">
        <input type="password" placeholder="Create a password" name="password">
        <input type="file" placeholder="Upload your image" name="file">
        <input type="button" class="button" value="Signup" name="btn">
      </form>
      <div class="signup">
        <span class="signup">Already have an account?
         <a href="/login">Login</a>
        </span>
      </div>
    </div>
  </div>
</body>
</html>

<!-- <div class="open_grepper_editor" title="Edit & Save To Grepper"></div> -->